body {
  height: 800px;
  border: solid 1px;
  margin: 32px;
  position: relative;
}

.hint__text {
  display: none;
  padding: 10px;
}

.hint:hover > .hint__text {
  display: inline;
  color: green;
}

.item {
  height: 100px;
  width: 300px;
  border: 1px solid blue;
}

/* Answer */
.button {
  display: block;
}

/* Less good answer */
.button {
  display: flex;
}
/* This actually does work, because a flex-container acts like a block element with respect to its position in the flow. But in this case it isn't the best
solution, because of potential side effects down the line. */
