.item {
  height: 200px;
  width: 300px;
  border: 1px solid blue;
}

.button {
  display: block;
}

body {
  height: 800px;
  border: solid 1px;
  margin: 32px;
  position: relative;
}

.parent {
  border: blue solid 1px;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .parent-label {
  color: blue;
  font-size: 16px;
  margin: 0;
} */

.child_pos_first {
  border: goldenrod solid 1px;
  color: goldenrod;
  width: 120px;
  height: 80px;
  position: relative;
  left: -60px;
}

.child_pos_second {
  border: green solid 1px;
  color: green;
  width: 120px;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
}
